Options -MultiViews
RewriteEngine On
RewriteBase /rwacof-paperless-frontend
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rwacof-paperless-frontend/index.html [QSA,L]